<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>博天下</title>
<link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
<link rel="stylesheet"
	href="common/template/lottery/jimei/css/bootstrap.min.css"
	type="text/css">
<link rel="stylesheet"
	href="common/template/lottery/jimei/css/style.css?v=2019022317110511"
	type="text/css">
<link rel="stylesheet"
	href="common/template/lottery/jimei/css/balls.css?v=2019022317110511"
	type="text/css">



<style type="text/css">
#ticket-base-info .tb-sub {
	width: 75px;
	margin: 0;
}

#ticket-base-info img {
	width: 75px;
	height: 75px;
	position: absolute;
	top: 0px;
	left: 7px;
}
</style>

<style type="text/css">
.gamePlay {
	position: relative;
	right: 0;
	top: 3px;
	padding: 0px 40px;
}

.gamePlay a {
	background-position: 0 -731px;
	text-decoration: none;
}

.gamePlay a {
	background: url(/common/template/lottery/lecai/images/base-ico.png)
		no-repeat
}

.gamePlay a {
	display: block;
	width: 110px;
	height: 32px;
}

.gamePlay .page-ico {
	position: absolute;
	right: 60px;
	top: -5px;
	width: 34px;
	display: block;
	background: none;
	height: auto;
	margin: auto;
	outline: none;
}

.displayNone{
	display: none;
}

.displayBlock{
	display: block;
}

.betRecArea{
   	margin-top: 10px;
    background-color: #267671;
    width: 13%;
    height:717px;
    float: right;
    padding-bottom: 8px;
    background: #e2e2e2;
    padding: 20px 0;
    font-size: 12px;
    text-align:center;
}

.frame_ {
	height: 1215px;
    width: 100%;
    position: relative;
    padding: 0 10px 0 10px;
}

.betArea{
	float: left;
    width: 69%;
    padding: 0 5px 0 5px;
}

.placeholdersArea{
    margin-top: 10px;
    background-color: #267671;
    width: 18%;
    height:717px;
    float: left;
    padding-bottom: 8px;
    background: #e2e2e2;
    padding: 20px 0;
    font-size: 12px;
    text-align:center;
}

#expertArea {
	margin: 8px 0 0 0;
    width: 500px;
    border: 1px solid #267671;
  }
  #expertArea h1 {
    height: 20px;
    margin: -10px auto 0;
    font-size: 15px;
    padding: 3px 5px 5px 5px;
    text-align: center;
    width: 90px;
    background: #d9534f;;
    color: white;
  }
  
</style>

<script src="js/lib/jquery-1.10.2.min.js?v=01"></script>


</head>
<body class="index-bg">
	<div class="frame_"   ng-controller="lotteryCtrl" ng-init="queryBulletinBoard('yfb')">
		<div class="placeholdersArea">
			<div class="sidebar index-sidebar ng-scope" style="background:#d9534f;">
				<div class="user-info ng-scope" style="background:#d9534f;">
					<div class="user-line user-info-name aside-block-top" style="padding-left: 5px;background:#d9534f;">
						会员：
						<b class="text-danger ng-binding accountName" id="account" ng-if="isLogin">{{userInfo.userName}}</b>
						<a href="javascript:void(0)" target="_blank" id="isLogin" style="font-size: 10px; margin-left: 5px;color:#ffcc00" ng-click="" ng-if="!isLogin">[立即登录]</a>
					</div>
					<div class="user-line user-info-money aside-block-bottom"
						style="padding-left: 5px;background:#d9534f;">
						余额： 
						<b id="nowMoney" onclick="refreshMoney()"
							style="cursor: pointer; text-decoration: underline;"
							class="text-danger ng-binding ng-scope nowMoney" ng-if="isLogin">{{mainAcc.balance}}</b>
						
						<b id="nowMoney" onclick="refreshMoney()"
							style="cursor: pointer; text-decoration: underline;"
							class="text-danger ng-binding ng-scope nowMoney" ng-if="!isLogin"></b>
					</div>
				</div>
				<div class="user-link user-center-btn ng-scope" style="display:none">
					<a href="/center/banktrans/deposit/page.do" class="bank-savings"
						target="_blank"></a> <a href="/center/banktrans/draw/page.do"
						class="bank-take" target="_blank"></a>
					<!--  <a href="/center/banktrans/mnychg/page.do" class="money-conversion" target="_blank"></a> -->
					<div class="clearfix"></div>
				</div>
	
				<div class="news ng-scope" ng-if="SiteMessage" style="display:none">
					<div class="news-t text-center">最新公告</div>
					<div class="news-list">
						<marquee vspace="0" hspace="0" id="newMsg" class="ng-binding"
							align="right" behavior="scroll" style="height: 100%"
							direction="up" loop="-1" scrollamount="2" scrolldelay="20"
							onmouseout="this.start()" onmouseover="this.stop()">
							尊敬的鼎盛娱乐贵宾：目前彩种幸运飞艇临时维护，维护中带来不便，请您谅解！其他彩票彩种均为正常，建议您可以转款其他彩种进行游艺，鼎盛娱乐祝广大会员游艺愉快，盈利满满
						</marquee>
					</div>
				</div>
				<div class="list-bet ng-scope" style="display:none">
					<div class="list-bet-t text-center">
						最新注单<a href="/lotteryV2/history.do" target="newHistory">(历史下注)</a>
					</div>
					<div class="list-bet ng-scope newOrderData"></div>
				</div>
			</div>
			
			<div id="lotteryV2_content" class="sidebar index-sidebar ng-scope" ng-init="queryIssueRecBrief('yfb',1)" style="background-color: #d9534f;">
			<table class="table table-bordered table-bet pull-left ng-scope" style="background-color:white">
							<thead  style="background:#d9534f;">
								<tr>
									<th class="ng-binding">期号</th>
									<th class="ng-binding">开奖号码</th>
								</tr>
							</thead>
							<tbody>							
								<tr  class="ng-scope" ng-repeat="v in issueRecs.content">																			
									<td class="ng-binding ng-scope" add-color="4">{{v.issueNum}}</td>
									<td class="" add-color="4" >
										{{v.retNum == null?'':v.retNum}}
									</td>
								</tr>
							</tbody>
						</table>
						
						<div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_4_paginate" style="background-color: #d9534f;text-align:right;padding:0 10px 10px 0">                                    
                        	<span></span>
                        	<a style="color:white" href="qushitu/trendAnysis.html?lotteryType=cqssc" target="view_window_cqssc">>>更多</a>
                        </div>
                                    
			</div>
		
		</div>
		<div class="betArea">
		<!-- 头部 -->
		<div class="header_nav_bg ng-scope">
			<div class="header_nav">
				<header class="index-header ng-scope" id="ticket-base">
					<div class="tb-body" style="background-color: #d9534f;">
						<div id="ticket-base-info" class="tb-b-column"  style="background-color: #d9534f;">
							<div class="tb-sub">
								<img id="lottery_logoImg" src="images/lottery/yfb-logo.png">
							</div>
						</div>
						<div class="tb-b-column" id="ticket-cutdown"  style="background-color: #d9534f;">
							<div class="tb-sub">
								<div class="sub tc-refer title">
									<span>第<em id="curIssueNumberId">{{bulletinBoard.currIssue.issueNum}}</em>期
									</span> <span id="openOrCloseName">距下一期开始还有</span>
								</div>
								<div id="cutdown-clock-base" class="sub">
									<ul class="ocplate">
										<li ng-repeat="v in downCounter track by $index"><span>{{v}}</span></li>
									</ul>
									<ul class="ocplates ng-hide"></ul>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div id="ticker-drawing-last" class="tb-b-column"  style="background-color: #d9534f;">
							<div class="tb-sub menu1">
								<div class="sub title">
									<em>第<i id="lotteryV2_Title">{{bulletinBoard.lastIssue.issueNum}}</i>期</em> 
									<a onclick="result();" javascript="void(0)" style="cursor: pointer;">开奖号码</a>
								</div>
								<div class="sub viewer ticker-drawing-viewer ticker-drawing-viewer-base">
									<a id="lotteryV2_haoMa" class="T_PK10 L_BJPK10 status--off"> 
										<span class="item_{{$index}}" ng-repeat="v in lastIssueRetNum track by $index">
											<b class="b{{v}}">{{v}}</b>
										</span>
									</a>
								</div>
								<div class="sub option">
									<a class="tdl-o-chart" href="qushitu/trendAnysis.html?lotteryType=yfb" target="view_window_yfb">号码走势
										<i>&nbsp;</i>
									</a> 
									<a class="tdl-o-remark" javascript="void(0)" onclick="rule();" style="cursor: pointer;">游戏说明
										<i>&nbsp;</i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</header>
			</div>
		</div>
	
	
	
		<!-- 主体内容 -->
		<div class="frame ng-scope">
			<!-- content_left -->		
			
			<div class="main ng-scope" id="_main_view" ng-controller="lotteryUICtrl" ng-init="iniCqsscUI()">
				<section class="ng-scope">
					<div id="lotteryV2_group" class="ng-scope" >
						<ul class="twoNav ng-scope" style="background-color: #d9534f;">
							<li ng-class="{'ng-scope':true,'active':isZHActive}" ng-click="changeFocus(0)">
								<a class="ng-binding" lot_code="zhenghe" stid="33">整合</a>
							</li>
							<li ng-class="{'ng-scope':true,'active':isBitActive}" ng-click="changeFocus(1)">
								<a class="ng-binding" lot_code="qianwei" stid="33">0-9位</a>
							</li>
							<!-- li class="ng-scope "><a class="ng-binding" lot_code="wanwei" stid="33">万位</a></li>
				        	
				        	<li class="ng-scope "><a class="ng-binding" lot_code="heshu" stid="33">和数</a></li>
				        	<div style="position:relative;display:inline-block" class="moreGroup">
								<a id="moreWanfa" href="javascript:void(0)" class="ng-binding">更多玩法<span class="caret"></span></a> -->
										<!-- <ul class="dropdown-menu sub-menu">
											<li class="ng-scope"><a class="ng-binding" lot_code="sanzi" stid="33">三字</a></li>
											<li class="ng-scope"><a class="ng-binding" lot_code="erzidingwei" stid="33">二字定位</a></li>
											<li class="ng-scope"><a class="ng-binding" lot_code="sanzidingwei" stid="33">三字定位</a></li>
											<li class="ng-scope"><a class="ng-binding" lot_code="kuadu" stid="33">跨度</a></li>
								</ul> -->
							<!-- /div>-->
							<div class="clearfix"></div>
						</ul>
					</div>
	
					<div class="main-bet-content" ng-if="!isLogin" ng-controller="authCtrl" >
						<div class="bar-bet">
							<div class="input-group pull-left w150 ml20">
								<span id="basic-addon1" class="input-group-addon">预设金额</span> 
								<input type="text" 
										class="form-control ng-pristine ng-untouched ng-valid"
										name="presetMoney" 
										maxlength="6" 
										value="" 
										disabled>
							</div>
							<button class="btn btn-danger ml10 resetBtn" style="background: #0075bb;" type="button">重置</button>
							<button type="button" class="btn btn-danger ml10 ng-scope lotteryV2Btn">提交注单</button>
							<div class="pull-right clock ng-scope" id="currentQiHaoAndTime" ng-init="queryExpertPushNum('yfb')">
								<span id="flushTime" style="font-size: 14px; float: right; width: 40px; text-align: right; margin-top: 4px; margin-left: 6px">
								</span>								
							</div>
						</div>
						
						<div >
						<div id="lotteryV2_content" class="ng-scope ssc_ball" style="width: 100%; display: inline-block;" ng-init="initBettingNumUnauth('yfb', 10)">
							<table class="table table-bordered table-bet" style="display:none">
								<thead>
									<tr>
										<th colspan="12">总和</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td width="60" add-color="0">总和大</td>
										<td add-color="0"><b class="text-danger ng-binding">--</b></td>
										<td add-color="0"><input type="text"
											class="bet-input ng-pristine ng-untouched ng-valid"
											maxlength="6"
											onkeyup="this.value=this.value.replace(/[\u4E00-\u9FA5]|[\uFE30-\uFFA0]/g,''); "
											disabled=""> <input type="hidden" name="[1].id"
											value="1"> <input type="hidden" name="[1].oddsId"
											value="29807"> <input type="hidden" name="[1].name"
											value="总和大"> <input type="hidden" name="[1].rate"
											value="1.98"> <input type="hidden" name="[1].min"
											value="1"> <input type="hidden" name="[1].max"
											value="50000"></td>
										<td width="60" add-color="1">总和小</td>
										<td add-color="1"><b class="text-danger ng-binding">--</b></td>
										<td add-color="1"><input type="text"
											class="bet-input ng-pristine ng-untouched ng-valid"
											maxlength="6"
											onkeyup="this.value=this.value.replace(/[\u4E00-\u9FA5]|[\uFE30-\uFFA0]/g,''); "
											disabled=""> <input type="hidden" name="[2].id"
											value="2"> <input type="hidden" name="[2].oddsId"
											value="29808"> <input type="hidden" name="[2].name"
											value="总和小"> <input type="hidden" name="[2].rate"
											value="1.98"> <input type="hidden" name="[2].min"
											value="1"> <input type="hidden" name="[2].max"
											value="50000"></td>
										<td width="60" add-color="2">总和单</td>
										<td add-color="2"><b class="text-danger ng-binding">--</b></td>
										<td add-color="2"><input type="text"
											class="bet-input ng-pristine ng-untouched ng-valid"
											maxlength="6"
											onkeyup="this.value=this.value.replace(/[\u4E00-\u9FA5]|[\uFE30-\uFFA0]/g,''); "
											disabled=""> <input type="hidden" name="[3].id"
											value="3"> <input type="hidden" name="[3].oddsId"
											value="29809"> <input type="hidden" name="[3].name"
											value="总和单"> <input type="hidden" name="[3].rate"
											value="1.98"> <input type="hidden" name="[3].min"
											value="1"> <input type="hidden" name="[3].max"
											value="50000"></td>
										<td width="60" add-color="3">总和双</td>
										<td add-color="3"><b class="text-danger ng-binding">--</b></td>
										<td add-color="3"><input type="text"
											class="bet-input ng-pristine ng-untouched ng-valid"
											maxlength="6"
											onkeyup="this.value=this.value.replace(/[\u4E00-\u9FA5]|[\uFE30-\uFFA0]/g,''); "
											disabled=""> <input type="hidden" name="[4].id"
											value="4"> <input type="hidden" name="[4].oddsId"
											value="29810"> <input type="hidden" name="[4].name"
											value="总和双"> <input type="hidden" name="[4].rate"
											value="1.98"> <input type="hidden" name="[4].min"
											value="1"> <input type="hidden" name="[4].max"
											value="50000"></td>
									</tr>
									<tr>
									</tr>
								</tbody>
							</table>
	
							<table ng-repeat="row in bitNumArray"  class="table table-bordered table-bet pull-left w20 ng-scope">
								<thead style="background: #d9534f;">
									<tr>
										<th colspan="3" class="ng-binding">{{row.header}}</th>
									</tr>
								</thead>
								<tbody>							
									<tr ng-repeat="v in row.bitNum" 
										ng-class="{{v.vClass}}" 
											data-bit="{{row.bitIndex}}" 
											data-play="{{v.playTypeId}}" 
											data-bettingNum="{{v.bettingNumVal}},,,,,,,,,"  
											data-sel="0" 
											data-index={{$index}}>
																				
										<td class="ng-binding ng-scope" add-color="4">{{v.bettingNumKey}}</td>
										<td class="" add-color="4" >
											{{v.prizeRate}}
										</td>
										<td class="" add-color="4" >
											<input type="text" id="{{row.bitIndex}}_{{$index}}_betAmount" class="bet-input ng-pristine ng-untouched ng-valid" maxlength="6" disabled>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						
						</div>
						<div class="bar-bet" ng-if="isLogin" ng-controller="authCtrl">
							<div class="input-group pull-left w150 ml20">
								<span id="basic-addon1" class="input-group-addon">预设金额</span> 
								<input type="text" 
										class="form-control ng-pristine ng-untouched ng-valid"
										name="presetMoney" 
										maxlength="6" 
										value="">
							</div>
							<button class="btn btn-danger ml10 resetBtn" style="background: #0075bb;" type="button">重置</button>
							<button type="button" class="btn btn-danger ml10 ng-scope lotteryV2Btn">提交注单</button>
							<div class="pull-right clock ng-scope" id="currentQiHaoAndTime" ng-init="queryExpertPushNum('yfb')">
								<span id="flushTime" style="font-size: 14px; float: right; width: 40px; text-align: right; margin-top: 4px; margin-left: 6px">
								</span>								
							</div>
						</div>
						
						<div class="bar-bet" ng-if="!isLogin" ng-controller="authCtrl">
							<div class="input-group pull-left w150 ml20">
								<span id="basic-addon1" class="input-group-addon">预设金额</span> 
								<input type="text" 
										class="form-control ng-pristine ng-untouched ng-valid"
										name="presetMoney" 
										maxlength="6" 
										value="" 
										disabled>
							</div>
							<button class="btn btn-danger ml10 resetBtn" style="background: #0075bb; " type="button">重置</button>
							<button type="button" class="btn btn-danger ml10 ng-scope lotteryV2Btn">提交注单</button>
							<div class="pull-right clock ng-scope" id="currentQiHaoAndTime">
								<span id="flushTime" style="font-size: 14px; float: right; width: 40px; text-align: right; margin-top: 4px; margin-left: 6px"></span>
							</div>
						</div>					
					</div>
					
					
					
					<div class="main-bet-content" ng-if="isLogin" ng-controller="authCtrl" >
						<div class="bar-bet">
							<div class="input-group pull-left w150 ml20">
								<span id="basic-addon1" class="input-group-addon">预设金额</span> 
								<input type="text" 
										class="form-control ng-pristine ng-untouched ng-valid"
										name="presetMoney" 
										maxlength="6" 
										value="">
							</div>
							<button class="btn btn-danger ml10 resetBtn" 
									style="background: #0075bb;" 
									type="button" 
									ng-click='resetBettingAmount()'>
									重置
							</button>
							<button type="button" class="btn btn-danger ml10 ng-scope lotteryV2Btn"
									ng-click='betting("yfb")'>提交注单</button>
									
							<button type="button" class="btn btn-danger ml10 ng-scope lotteryV2Btn" ng-if="userInfo.isHiddenPlan == 1"
									ng-click='changeProduceScheduleState(1)'>生成计划</button>
									
							<div class="pull-right clock ng-scope" id="currentQiHaoAndTime">
								<span id="flushTime" style="font-size: 14px; float: right; width: 40px; text-align: right; margin-top: 4px; margin-left: 6px"></span>
							</div>
						</div>
						
						<div id="lotteryV2_content" class="ng-scope ssc_ball"
							style="width: 100%; display: inline-block;"
								ng-init="initBettingNumAuth('yfb', 10)">
	
							<table class="table table-bordered table-bet" style="display:none">
								<thead>
									<tr>
										<th colspan="12">总和</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td width="60" add-color="0">总和大</td>
										<td add-color="0"><b class="text-danger ng-binding">--</b></td>
										<td add-color="0"><input type="text"
											class="bet-input ng-pristine ng-untouched ng-valid"
											maxlength="6"
											onkeyup="this.value=this.value.replace(/[\u4E00-\u9FA5]|[\uFE30-\uFFA0]/g,''); "
											disabled=""> <input type="hidden" name="[1].id"
											value="1"> <input type="hidden" name="[1].oddsId"
											value="29807"> <input type="hidden" name="[1].name"
											value="总和大"> <input type="hidden" name="[1].rate"
											value="1.98"> <input type="hidden" name="[1].min"
											value="1"> <input type="hidden" name="[1].max"
											value="50000"></td>
										<td width="60" add-color="1">总和小</td>
										<td add-color="1"><b class="text-danger ng-binding">--</b></td>
										<td add-color="1"><input type="text"
											class="bet-input ng-pristine ng-untouched ng-valid"
											maxlength="6"
											onkeyup="this.value=this.value.replace(/[\u4E00-\u9FA5]|[\uFE30-\uFFA0]/g,''); "
											disabled=""> <input type="hidden" name="[2].id"
											value="2"> <input type="hidden" name="[2].oddsId"
											value="29808"> <input type="hidden" name="[2].name"
											value="总和小"> <input type="hidden" name="[2].rate"
											value="1.98"> <input type="hidden" name="[2].min"
											value="1"> <input type="hidden" name="[2].max"
											value="50000"></td>
										<td width="60" add-color="2">总和单</td>
										<td add-color="2"><b class="text-danger ng-binding">--</b></td>
										<td add-color="2"><input type="text"
											class="bet-input ng-pristine ng-untouched ng-valid"
											maxlength="6"
											onkeyup="this.value=this.value.replace(/[\u4E00-\u9FA5]|[\uFE30-\uFFA0]/g,''); "
											disabled=""> <input type="hidden" name="[3].id"
											value="3"> <input type="hidden" name="[3].oddsId"
											value="29809"> <input type="hidden" name="[3].name"
											value="总和单"> <input type="hidden" name="[3].rate"
											value="1.98"> <input type="hidden" name="[3].min"
											value="1"> <input type="hidden" name="[3].max"
											value="50000"></td>
										<td width="60" add-color="3">总和双</td>
										<td add-color="3"><b class="text-danger ng-binding">--</b></td>
										<td add-color="3"><input type="text"
											class="bet-input ng-pristine ng-untouched ng-valid"
											maxlength="6"
											disabled=""> <input type="hidden" name="[4].id"
											value="4"> <input type="hidden" name="[4].oddsId"
											value="29810"> <input type="hidden" name="[4].name"
											value="总和双"> <input type="hidden" name="[4].rate"
											value="1.98"> <input type="hidden" name="[4].min"
											value="1"> <input type="hidden" name="[4].max"
											value="50000"></td>
									</tr>
									<tr>
									</tr>
								</tbody>
							</table>
	
							<table ng-repeat="row in bitNumArray" 
								class="table table-bordered table-bet pull-left w20 ng-scope">
								<thead style="background: #d9534f;">
									<tr>
										<th colspan="3" class="ng-binding">{{row.header}}</th>
									</tr>
								</thead>
								<tbody >
									<tr ng-repeat="v in row.bitNum" 
										ng-class="{{v.vClass}}" 
											data-bit="{{row.bitIndex}}" 
											data-play="{{v.playTypeId}}" 
											data-bettingNum="{{v.bettingNumVal}}"  
											data-sel="0" 
											data-index={{$index}}>
											
										<td class="ng-binding ng-scope" add-color="4" ng-click="selNum($event)">{{v.bettingNumKey}}</td>
										<td class="" add-color="4" ng-click="selNum($event)">
											{{v.prizeRate}}
										</td>
										<td class="" add-color="4" ng-click="selNum($event)">
											<input type="text" 
												id="{{row.bitIndex}}_{{$index}}_betAmount" 
												class="bet-input ng-pristine ng-untouched ng-valid" 
												maxlength="6"
												onfocus="selNum($event)">
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="bar-bet" ng-if="isLogin" ng-controller="authCtrl">
							<div class="input-group pull-left w150 ml20">
								<span id="basic-addon1" class="input-group-addon">预设金额</span> 
								<input type="text" 
										class="form-control ng-pristine ng-untouched ng-valid"
										name="presetMoney" 
										maxlength="6" 
										value="">
							</div>
							<button class="btn btn-danger ml10 resetBtn" 
									style="background: #0075bb;" 
									type="button"
									ng-click='resetBettingAmount()'>
									重置
							</button>
							<button type="button" class="btn btn-danger ml10 ng-scope lotteryV2Btn"
									ng-click='betting("yfb")'>提交注单</button>
									
							<div class="pull-right clock ng-scope" id="currentQiHaoAndTime">
								<span id="flushTime" style="font-size: 14px; float: right; width: 40px; text-align: right; margin-top: 4px; margin-left: 6px"></span>
							</div>
						</div>
						
						<div class="bar-bet" ng-if="!isLogin" ng-controller="authCtrl">
							<div class="input-group pull-left w150 ml20">
								<span id="basic-addon1" class="input-group-addon">预设金额</span> 
								<input type="text" 
										class="form-control ng-pristine ng-untouched ng-valid"
										name="presetMoney" 
										maxlength="6" 
										value="" 
										disabled>
							</div>
							<button class="btn btn-danger ml10 resetBtn" style="background: #0075bb;" type="button">重置</button>
							<button type="button" class="btn btn-danger ml10 ng-scope lotteryV2Btn">提交注单</button>
							<div class="pull-right clock ng-scope" id="currentQiHaoAndTime">
								<span id="flushTime" style="font-size: 14px; float: right; width: 40px; text-align: right; margin-top: 4px; margin-left: 6px"></span>
							</div>
						</div>					
					</div>
					
				</section>
			</div>		
			
		</div>
	
		</div>
	
		<div id="lotteryV2_content" class="betRecArea ng-scope ssc_ball" style="height:1203px;" ng-init="queryBettingRecBrief('yfb',1)">	
			<table class="table table-bordered table-bet pull-left ng-scope" style="background-color:white">
							<thead style="background:#d9534f;">
								<tr>
									<th class="ng-binding">期号</th>
									<th class="ng-binding">投注号码</th>
									<th class="ng-binding">中奖金额</th>
								</tr>
							</thead>
							<tbody>							
								<tr  class="ng-scope" ng-repeat="v in bettingRecs.content">																			
									<td class="ng-binding ng-scope" add-color="4">{{v[1].issueNum}}</td>
									<td class="" add-color="4" >
										{{getBettingNum(v[1].lotteryType, v[2].classification, v[0].betNum)}}
									</td>
									<td class="" add-color="4" >
										{{v[0].winAmount}}
									</td>
								</tr>
							</tbody>
						</table>
						
						<div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_4_paginate" style="background:#d9534f;text-align:right;padding:0 10px 10px 0">                                    
                        	<span></span>
                        	<a style="color:white" ui-sref="userCenter.hisRecord">>>更多</a>
                        </div>
                                    
		</div>
		
		<aside class="register ng-scope" id="schedule_tab" ng-class="{'ng-scope':true,'displayNone':!isProduceSchedule,'displayBlock':isProduceSchedule}">
			<div class="register_content" style="overflow-y: auto;  min-height: 500px; height: 600px;width: 1100px;" >
				<div class="r_title" style=" background: #d9534f;">
					<p>投注计划</p>
					<span class="close j-close" num="6" ng-click='changeProduceScheduleState(0)'></span>
				</div>
				<div class="r_content">
					<div class="bar-bet">
									<div class="input-group pull-left w150 ml20">
										<span id="basic-addon1" class="input-group-addon">赛道</span> 
										<select name="bitIndex" id="bitIndex" class="j-bankCard"  ng-model="bitIndex_" ng-change="selRowFun()"  style="height: 28px;width: 70px">
											<option value="{{row.bitIndex}}" ng-repeat="row in bitNumArray">{{row.header}}</option>
										</select>
									</div>
									<div class="input-group pull-left w150 ml20">
										<span id="basic-addon1" class="input-group-addon">选号</span> 
										<!--select  name="playTypeId_" id="playTypeId_" class="j-bankCard"  ng-model="playTypeId_" ng-change="selPlayTypeFunc()" style="height: 28px;width: 60px">
											<option value="{{v.playTypeId}}" ng-repeat="v in selRow.bitNum">{{v.bettingNumKey}}</option>
											
										</select>  -->
										<div ng-dropdown-multiselect="" options="selRow" selected-model="playTypeId_" extra-settings="example8settings"></div>
										<input type="hidden" id="bettingNum_" name="bettingNum_">
									</div>
									<div class="input-group pull-left w150 ml20">
										<span id="basic-addon1" class="input-group-addon">投注金额</span> 
										<input type="text" 
												class="form-control ng-pristine ng-untouched ng-valid"
												name="betAmount_" 
												id="betAmount_" 
												value="">
									</div>
									<div class="input-group pull-left w150 ml20">
										<span id="basic-addon1" class="input-group-addon">投注倍数</span> 
										<input type="text" 
												class="form-control ng-pristine ng-untouched ng-valid"
												name="betTimes_" 
												id="betTimes_" 
												value="1">
									</div>
									
									<!-- div class="input-group pull-left w150 ml20">
										<span id="basic-addon1" class="input-group-addon">是否递增</span> 
										<input type="checkbox" id="isIncrease" name="isIncrease" class="bet-input ng-pristine ng-untouched ng-valid" name="sel_{{$index}}">
									</div> -->
									
									<div class="input-group pull-left w150 ml20" style="width: 100px;">
										<button class="btn btn-danger ml10 resetBtn" style="background: #0075bb; border-color: #455964;" type="button" ng-click="produceSchedule()">生成计划</button>
									</div>
									<div class="input-group pull-left w150 ml20">
										<button class="btn btn-danger ml10 resetBtn" style="background: #0075bb; border-color: #455964;" type="button" ng-click="submitSchedule('yfb')">提交计划</button>
									</div>
								</div>
								
								<div id="lotteryV2_content" class="ng-scope ssc_ball" style="width: 100%; display: inline-block;" ng-init="queryZhIssue('yfb')">
									<table  class="table table-bordered table-bet pull-left w20 ng-scope" style="width: 100%;">
										<thead style=" background: #d9534f;">
											<tr>
												<th class="ng-binding" style="width:25%">期次号</th>
												<th class="ng-binding" style="width:25%">金额</th>
												<th class="ng-binding" style="width:25%">是否选中</th>
												<th class="ng-binding" style="width:25%">是否中奖</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="v in zhIssue" ng-class="{'ng-scope':true}" class="ng-scope" data-index="{{$index}}"  data-type="10">
													
												<td class="ng-binding ng-scope" add-color="4" ng-click="selNum($event)">
												<input type="text" 
														class="form-control ng-pristine ng-untouched ng-valid"
														name="issue_{{$index}}" 
														id="issue_{{$index}}" 
														value="{{v.issueNum}}" readonly>
														
												<input type="hidden" 
														name="issueId_{{$index}}" 
														id="issueId_{{$index}}" 
														value="{{v.id}}">
												
												</td>
												<td class="ng-binding" add-color="4" ng-click="selNum($event)">
													<input type="text" 
														class="form-control ng-pristine ng-untouched ng-valid"
														name="zhAmount_{{$index}}" 
														id="zhAmount_{{$index}}" 
														maxlength="6" 
														value="" readonly>
												</td>
												<td class="" add-color="4" ng-click="selNum($event)">
													<input type="checkbox" class="bet-input ng-pristine ng-untouched ng-valid" name="isSel_{{$index}}" id="isSel_{{$index}}">
												</td>
												<td class="" add-color="4" ng-click="selNum($event)">
													<input type="checkbox" class="bet-input ng-pristine ng-untouched ng-valid" name="isPize_{{$index}}" id="isPize_{{$index}}" ng-true-value="'1'" ng-false-value="'0'">
												</td>
											</tr>									
										</tbody>
									</table>
								</div>		
				</div>
			</div>
</aside>

	</div>
</body>
</html>
