<html lang="zh-cn">
<head>
<meta charset="UTF-8">

<script
	src="https://hm.baidu.com/hm.js?099778280faab37761a929fdfe630972"></script>
<script type="text/javascript">
	if (/AppleWebKit.*Mobile/i.test(navigator.userAgent)
			|| /Android/i.test(navigator.userAgent)
			|| /BlackBerry/i.test(navigator.userAgent)
			|| /IEMobile/i.test(navigator.userAgent)
			|| (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/
					.test(navigator.userAgent))) {
		var addr = window.location.href;
		if (addr.indexOf("mobi") >= 0) {
		} else {
			window.location.href = "mobile/index.jsp" + window.location.search;
		}
	} else {
	}
</script>
<script>
	var _hmt = _hmt || [];
	(function() {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?099778280faab37761a929fdfe630972";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	})();
</script>
<title>泰格娱乐(Taige Gaming)</title>
<meta name="description"
	content="一家专注运营网络老虎机游戏的专业网站。拥有PT老虎机、MG老虎机、TTG老虎机、DT老虎机、AG捕鱼等热门老虎机平台。让您一网打进所有您喜爱的老虎机游戏，更可在手机端就可畅玩！">
<meta name="keywords"
	content="PT老虎机 TTG老虎机 NT老虎机 MG老虎机 QT老虎机 DT老虎机 网上老虎机 博彩 slot">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
<link href="style/base.min.css?v=13" rel="stylesheet">
<link href="style/lib/animate.css?v=01" rel="stylesheet">
<script src="js/lib/jquery-1.10.2.min.js?v=01"></script>
<script src="js/lib/layer/layer.js?v=01"></script>
<link rel="stylesheet"
	href="https://www.taige88.com/js/lib/layer/theme/default/layer.css?v=3.1.0"
	id="layuicss-layer">
<!--[if lt IE 9]>
	<script src="//apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js?v=j12"></script>
	<script src="//apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js?v=j12"></script>
<![endif]-->

<link href="style/promotion.min.css?v=03" rel="stylesheet"
	type="text/css">
<!-- 处理优惠详情 -->
<style>
body {
	margin: 0 !important;
	padding: 0 !important;
}
</style>
</head>

<body style="">
	<!-- 头部结束 -->
	<main ng-controller="promoCtrl" >
	<div class="content cfx">
		<div class="promotion_left fl j-watch_top" id="j-prom-nav">
		
			<a data-type="001" class="pro_btn {{v.cls}}" ng-click="changeProType(k)" ng-repeat="(k,v) in promType">{{v.t}}</a>
			<!-- <a data-type="" class="pro_btn active">全部优惠</a>
			<a data-type="001" class="pro_btn">专题优惠</a>
			<a data-type="002" class="pro_btn">长期优惠</a>
			<a data-type="003" class="pro_btn">限时优惠</a>
			<a data-type="004" class="pro_btn">当月优惠</a> -->
		</div>
		<div class="promotion_right fr" id="j-container">
			<div class="promotion_item j-p-item" id="47" ng-repeat="(k,v) in promList">
				<img src="https://tg.shdunjiusy.com/app/preferential/20180331_1522507110857.jpg">
				<p class="pro_title">{{v.name}}</p>
				<a target="_blank" class="pro_control j-detail" data-id="47""="">查看详情</a>
				<div class="pro_des j-info" ng-show="v.show" ng-bind-html="v.content |trusted">
				</div>
			</div>
			
			<!-- <div class="promotion_item j-p-item" id="51" data-type="001">
				<img
					src="https://tg.shdunjiusy.com/app/preferential/20180506_1525541849774.jpg">
				<p class="pro_title">五一活动</p>
				<a target="_blank" class="pro_control j-detail" data-id="51""="">查看详情</a>
				<div class="pro_des j-info"></div>
			</div>
			<div class="promotion_item j-p-item" id="47" data-type="001">
				<img
					src="https://tg.shdunjiusy.com/app/preferential/20180331_1522507110857.jpg">
				<p class="pro_title">提款就送优惠券</p>
				<a target="_blank" class="pro_control j-detail" data-id="47""="">查看详情</a>
				<div class="pro_des j-info"></div>
			</div>
			<div class="promotion_item j-p-item" id="49" data-type="001">
				<img
					src="https://tg.shdunjiusy.com/app/preferential/20180331_1522507897738.jpg">
				<p class="pro_title">千百倍送红包</p>
				<a target="_blank" class="pro_control j-detail" data-id="49""="">查看详情</a>
				<div class="pro_des j-info"></div>
			</div>
			<div class="promotion_item j-p-item" id="28" data-type="001">
				<img
					src="https://tg.shdunjiusy.com/app/preferential/20171001_1506787640780.jpg">
				<p class="pro_title">VIP直通车</p>
				<a target="_blank" class="pro_control j-detail" data-id="28""="">查看详情</a>
				<div class="pro_des j-info"></div>
			</div>
			<div class="promotion_item j-p-item" id="21" data-type="002">
				<img
					src="https://tg.shdunjiusy.com/app/preferential/20171001_1506787349343.jpg">
				<p class="pro_title">APP体验金</p>
				<a target="_blank" class="pro_control j-detail" data-id="21""="">查看详情</a>
				<div class="pro_des j-info"></div>
			</div>
			<div class="promotion_item j-p-item" id="25" data-type="002">
				<img
					src="https://tg.shdunjiusy.com/app/preferential/20170915_1505475292376.jpg">
				<p class="pro_title">开户首存</p>
				<a target="_blank" class="pro_control j-detail" data-id="25""="">查看详情</a>
				<div class="pro_des j-info"></div>
			</div>
			<div class="promotion_item j-p-item" id="26" data-type="002">
				<img
					src="https://tg.shdunjiusy.com/app/preferential/20170915_1505473307218.jpg">
				<p class="pro_title">笔笔存笔笔送</p>
				<a target="_blank" class="pro_control j-detail" data-id="26""="">查看详情</a>
				<div class="pro_des j-info"></div>
			</div>
			<div class="promotion_item j-p-item" id="24" data-type="001">
				<img
					src="https://tg.shdunjiusy.com/app/preferential/20170915_1505475305137.jpg">
				<p class="pro_title">签到送彩金</p>
				<a target="_blank" class="pro_control j-detail" data-id="24""="">查看详情</a>
				<div class="pro_des j-info"></div>
			</div>
			<div class="promotion_item j-p-item" id="22" data-type="002">
				<img
					src="https://tg.shdunjiusy.com/app/preferential/20170915_1505475336109.jpg">
				<p class="pro_title">10%救援金</p>
				<a target="_blank" class="pro_control j-detail" data-id="22""="">查看详情</a>
				<div class="pro_des j-info"></div>
			</div>
			<div class="promotion_item j-p-item" id="23" data-type="002">
				<img
					src="https://tg.shdunjiusy.com/app/preferential/20170915_1505475318837.jpg">
				<p class="pro_title">老虎机返水</p>
				<a target="_blank" class="pro_control j-detail" data-id="23""="">查看详情</a>
				<div class="pro_des j-info"></div>
			</div> -->
		</div>
	</div>
	</main>









</body>
</html>