<!-- 
不需要頭部
以及底部

 -->

<header class="header_normal" ng-controller="authCtrl">
	<a href="javascript:void(0)" class="back_link"  ng-click="goBack()"><span class="icon icon_arrow_back"></span></a>
	<h1>修改登录密码</h1>
</header>
<div id="page_content" class="flex_1" ng-controller="accManCtrl">
		<div class="page_content_wrap">
			<div class="layout_form layout_form04">
				<form action="#">
					<div class="form_field_warp">
						
						<div class="form_field with_right_label form_field_password" id="oldPwdIcon">
							<span class="form_field_label">原密码</span>
							<div class="form_field_input">
								<input id="oldPwd" type="password" class="j-password" ng-model="oldPwd">
							</div>
							<span class="right_label" onclick="chageMobilePwdText('oldPwd','oldPwdIcon')"></span>
						</div>
						<div class="form_field with_right_label form_field_password" id="newPwdIcon">
							<span class="form_field_label">新密码</span>
							<div class="form_field_input">
								<input id="newPwd" type="password" placeholder="6-16位数字和字母" class="j-newpassword" ng-model="newPwd" >
							</div>
							<span class="right_label" onclick="chageMobilePwdText('newPwd','newPwdIcon')"></span>
						</div>
						<div class="form_field with_right_label form_field_password" id="confirmNewPwdIcon">
							<span class="form_field_label">确认密码</span>
							<div class="form_field_input">
								<input id="confirmNewPwd" type="password" placeholder="6-16位数字和字母" class="j-newpassword" ng-model="cnewPwd">
							</div>
							<span class="right_label" onclick="chageMobilePwdText('confirmNewPwd','confirmNewPwdIcon')"></span>
						</div>
					</div>
					<div class="btn_wrap">
						<a href="javascript:void(0);" class="btn btn01 j-submit" ng-click="modifyLoginPwd()">确定</a>
					</div>
				</form>
			</div>
		</div>
</div>