<!-- 

不需要頁面的頭部
以及底部

 -->

<header class="header_normal" ng-controller="authCtrl">
	<a href="javascript:void(0);" data-back="" class="back_link" ng-click="goBack()">
		<span class="icon icon_arrow_back"></span>
	</a>
	<h1>个人资料</h1>
</header>

<div id="page_content" class="flex_1" ng-controller="userInfoCtrl" ng-init="getMemberInfo()">
		<div class="page_content_wrap no_padding user_profile_content">
			<div class="layout_form">
				<div class="form_field_warp">
					<div class="form_field">
						<span class="form_field_label">真实姓名</span>
						<div class="form_field_input">

							<input class="j-accountName" id="j-accountName" ng-model="userInfo.realName" ng-if="!userInfo.isSetted">
							
							<input class="j-accountName" id="j-accountName" ng-model="userInfo.realName" ng-if="userInfo.isSetted"  readonly="">
							
						</div>
					</div>
					<div class="form_field">
						<span class="form_field_label">手机号码</span>
						<div class="form_field_input">
							<input class="j-mobilenum" id="j-mobilenum" ng-model="userInfo.phoneNum" ng-if="userInfo.isValidPhone  == 0">
							<input class="j-mobilenum" id="j-mobilenum" ng-model="userInfo.phoneNum" ng-if="userInfo.isValidPhone  != 0" readonly="">
						</div>
					</div>
					<div class="form_field date_picker ">
						<span class="form_field_label">电子邮件</span>
						<div class="form_field_input">
							<input id="j-email" placeholder="电子邮件"  ng-model="userInfo.email">
						</div>
					</div>
					<div class="form_field date_picker ">
						<span class="form_field_label">Q Q</span>
						<div class="form_field_input">
							<input class="u_input j-qq" id="j-qq" placeholder="请输入QQ号码" ng-model="userInfo.qq">
						</div>
					</div>					
				</div>
			</div>
			<div class="btn_wrap">
				<input type="button" class="btn btn01 j-completeUserInfo" value="保存" ng-click="updateMemInfo()">
			</div>

			<br>
			<div id="phone-validat-div"
				style="padding-left: 15px; padding-right: 15px;" 
				ng-if="userInfo.isValidPhone  == 0 && userInfo.phoneNum != null && userInfo.phoneNum.length > 0">
				<a href="javascript:void(0);" class="btn btn01 a_validate_phone" ng-click="showSMS()">手机验证</a>
				<div id="d-reverse-sms" class="user_center_nav_content_step">
					<div
						class="layout_icon_text_button display_flex_h flex_align_center">
						<div class="icon_wrap">
							<img src="images/icons/icon_send_message.png" width="84"
								height="45">
						</div>
						<div class="flex_1">
							<p>
								请使用注册时填写的手机，发送短信“<span class="j-smsCode"></span>”到<span
									class="j-smsNum"></span>，发送成功<span class="text_red">15</span>秒后，点击验证
							</p>
						</div>
					</div>
					<div class="btn_wrap no_padding">
						<a href="javascript:void(0);" class="btn btn01 j-reverse-sms-btn">验证</a>
					</div>
				</div>

				<div id="d-sms" ng-class="{'user_center_nav_content_step':!isSms,'user_center_nav_content_step.show':isSms}">
					<div
						class="layout_icon_text_button display_flex_h flex_align_center">
						<div class="icon_wrap">
							<img src="images/icons/icon_send_message.png" width="84"
								height="45">
						</div>
						<div class="flex_1">
							<p>点击获取验证码，系统将向您的注册手机号发送一个验证码</p>
							<div class="layout_form">
								<div class=" form_field">
									<span class="form_field_label">验证码:</span>
									<div class="form_field_input">
										<input type="text" id="phonesmscode" placeholder="验证码"
											maxlength="6">
									</div>
								</div>
								<div></div>
							</div>
							<div class="btn_wrap no_padding">
								<a href="javascript:void(0);" class="btn btn04 j-requetsms" ng-click="applyPhoneQr()">获取验证码</a>
							</div>
						</div>
					</div>
					<div id="captcha-target"
						style="margin: 50px auto 30px; width: 320px;"></div>
					<div class="btn_wrap no_padding">
						<a href="javascript:void(0);" class="btn btn01 j-sms-btn"  ng-click="verifyPhone()">验证</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="page_content_wrap user_profile_content"  ng-init="queryBankCard()">
			<div class="sec_box bank_card_list normal_padding box_border_box j-bankCardList">
				<h2>银行卡资料</h2>
				<div class="bank_card_item bankImg03" ng-repeat="v in bankCards" >
					<div class="bank_card_info">
						<h3>{{v.bankBranch}}</h3>
						<img class="space" src="images/bg/bg06.png">
						<p class="bank_card_num">{{v.cardNum}}</p>
						<button class="acctname">删除银行卡绑定</button>
					</div>
				</div>
				<div class="bank_card_item add_card j-addBankCard">
					<span class="add_text text_red" ng-click="bankCardModal()">+ 添加银行卡</span>
				</div>
			</div>
		</div>	
	</div>
	
	<aside class="register ng-scope" id="bankCardModal" style="display: none;" >
	<div class="register_content" ng-controller="userInfoCtrl" ng-init="initBankCard()">
		<div class="r_title">
			<p>添加银行卡</p>
			<span class="close j-close" num="6"></span>
		</div>
		<div class="r_content">
			<div class="u_c_w_tab active">
				<div class="u_inputs">
					<label class="u_label">开户银行</label>
					<select name="id" id="bank" class="u_select j-pay_type" ng-model="curBank" ng-options="v.codeVal as v.codeVal for v in banks"></select>
				</div>
				<div class="u_inputs">
					<label class="u_label">银行卡号</label>
					<input class="u_input" id="hbcouponCode" placeholder="请输入银行卡号" ng-model="cardNo">
				</div>
				<a class="u_btn j-submitCouponhb" ng-click="saveCard()">立即提交</a>
			</div>
		</div>
	</div>
</aside>