<div id="page_content" class="flex_1" ng-init="initLogin()">
	<div class="page_content_wrap login_content_wrap">
		<img class="logo" src="images/logo.png?v=2" width="197" alt="taige">
		{{dataNum}}
		<div class="layout_form layout_form04">
			<div class="l_tab">
				<a href="javascript:void(0)" ng-class="{'login_tab':true,'active':isLoginActive}"  ng-click="changeActive(3)">立即登录</a>
				<a href="javascript:void(0)" ng-class="{'login_tab':true,'active':isRegActive}"  ng-click="changeActive(4)">免费注册</a>
			</div>
			<div class="form_field_warp"  ng-if="isLoginActive">
				<div class="form_field form_field_no_label">
					<div class="form_field_input">
						<input type="text" placeholder="用户名" class="j-username" ng-model="credentials.username">
					</div>
				</div>
				<div class="form_field form_field_no_label form_field_password with_right_label">
					<div class="form_field_input">
						<input type="password" placeholder="密&nbsp;&nbsp;&nbsp;码" class="j-password" maxlength="16" ng-model="credentials.password">
					</div>
					<span class="right_label"></span>
				</div>
				<div class="form_field form_field_no_label with_right_label form_field_cap_code" ng-init="queryCaptchaCode()">
					<div class="form_field_input">
						<!-- input type="text" placeholder="验证码" class="j-imageCode" maxlength="4"  ng-model="credentials.captchaCode"> -->
						<input type="text" name="imageCode" placeholder="验证码" ng-model="credentials.captchaCode">
					</div>
					<span class="right_label">
						<!-- img width="100" height="33" class="j-loginImgCode" id="loginCodeImg" ng-src='{{captchaCode}}' ng-click="obtainCaptchaCode()"> -->
						<img style="" id="loginCodeImg" ng-src='{{captchaCode}}' ng-click="queryCaptchaCode()" width="100%" class="j-code" title="点击更新">
						
					</span>
				</div>
				
				<div class="operate-links">
					<!-- a href="#forgotpwd" class="forget_pwd">忘记密码？</a> -->
				</div>
				<div class="btn_wrap">
					<div class="display_flex_h">
						<a href="javascript:void(0);" class="flex_1 btn btn01 j-login"  ng-click="forwardLogin(credentials)">登录</a>
					</div>
				</div>
			</div>
			
			<div class="form_field_warp"  ng-if="isRegActive" ng-controller="userInfoCtrl">
				<div class="form_field form_field_no_label">
					<div class="form_field_input">
						<input type="text" placeholder="用户名(6-10位数字和字母)" id="register-account" ng-model="userInfo.userName">
					</div>
				</div>
				<div class="form_field form_field_no_label">
					<div class="form_field_input">
						<input type="text" placeholder="真实姓名" id="register-account" ng-model="userInfo.realName">
					</div>
				</div>
				<div class="form_field form_field_no_label form_field_password with_right_label">
					<div class="form_field_input">
						<input type="password" placeholder="密&nbsp;&nbsp;&nbsp;码(6-16位数字和字母）" id="register-password" maxlength="16"  ng-model="userInfo.loginPwd">
					</div>
					<span class="right_label"></span>
				</div>
				<div class="form_field form_field_no_label">
					<div class="form_field_input">
						<input type="text" placeholder="请正确填写QQ号" id="register-qq" maxlength="20" ng-model="userInfo.qq">
					</div>
				</div>
				<div class="form_field form_field_no_label">
					<div class="form_field_input">
						<input type="text" placeholder="请正确填写手机号" id="register-phone" maxlength="11"   ng-model="userInfo.phoneNum">
					</div>
				</div>
				<div class="form_field form_field_no_label">
					<div class="form_field_input">
						<input type="text" placeholder="请正确填写电子邮件" id="register-email" ng-model="userInfo.email">
					</div>
				</div>
				
				<div class="btn_wrap">
						<div class="display_flex_h">
							<a href="javascript:void(0);" class="flex_1 btn btn01" id="register-submit" ng-click="regUser(5,14.1)">立即开户</a>
						</div>
					</div>
			</div>
					
			
		</div>

	</div>
</div>