<html lang="zh-cn"><head>
        







<meta charset="UTF-8">

<script src="https://hm.baidu.com/hm.js?099778280faab37761a929fdfe630972"></script><script type="text/javascript">
	if(/AppleWebKit.*Mobile/i.test(navigator.userAgent)
			|| /Android/i.test(navigator.userAgent)
			|| /BlackBerry/i.test(navigator.userAgent)
			|| /IEMobile/i.test(navigator.userAgent)
			|| (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){
		var addr = window.location.href;
		if(addr.indexOf("mobi")>=0){
		}else{
			window.location.href="mobile/index.jsp"+window.location.search;
		}
	}else{
	}
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?099778280faab37761a929fdfe630972";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<title>泰格娱乐(Taige Gaming)</title>
<meta name="description" content="一家专注运营网络老虎机游戏的专业网站。拥有PT老虎机、MG老虎机、TTG老虎机、DT老虎机、AG捕鱼等热门老虎机平台。让您一网打进所有您喜爱的老虎机游戏，更可在手机端就可畅玩！">
<meta name="keywords" content="PT老虎机 TTG老虎机 NT老虎机 MG老虎机 QT老虎机 DT老虎机 网上老虎机 博彩 slot">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
<link href="style/base.min.css?v=13" rel="stylesheet">
<link href="style/lib/animate.css?v=01" rel="stylesheet">
<script src="js/lib/jquery-1.10.2.min.js?v=01"></script>
<script src="js/lib/layer/layer.js?v=01"></script><link rel="stylesheet" href="https://www.taige88.com/js/lib/layer/theme/default/layer.css?v=3.1.0" id="layuicss-layer">
<!--[if lt IE 9]>
	<script src="//apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js?v=j12"></script>
	<script src="//apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js?v=j12"></script>
<![endif]-->

        <link href="style/agent.min.css?v=l11" rel="stylesheet">
    </head>
    <body style="">
        <!-- 导航 -->
        <nav class="nav agent_nav" >
            <div class="content cfx">
                <a href="#agent" data-link="agent" class="active">关于我们</a>
                <a href="#agent_project" data-link="agentproject">佣金计划</a>
                <a id="index" href="index.html" class="yellow">返回官网</a>
                <a class="active j-join border" href="javascript:void(0);" ng-controller="agentRegCtrl" ng-click="registerModal()">立即加入</a>
            </div>
        </nav>
        <!-- 头部结束 -->
        <main>
            <div class="content">
                <div class="ader cfx">
                    <div class="login fl">
                    
                        <div class="inputs_box">
                            <form id="form-login" data-type="agent">
                                <p class="i_title">代理登录<span class="j-forget_pwd red">(忘记密码)</span></p>
                                <div class="inputs">
                                    <input type="text" name="account" placeholder="代理账号">
                                </div>
                                <div class="inputs">
                                    <input class="inpt-pwd" type="password" name="password" placeholder="密码">
                                    <span class="j-changpwd eyes close"></span>
                                </div>
                                <div class="inputs">
                                    <input type="text" name="imageCode" placeholder="验证码">
                                    <img style="" src="/mobi/mobileValidateCode.php?v=1" onclick="this.src='/mobi/mobileValidateCode.php?r='+Math.random();" width="100%" class="j-code" title="点击更新">
                                </div>
                                <button class="submit flash">立即登录</button>

                            </form>
                        </div>
                    
                    
                        <div class="contact">
                            <p class="c_i qq">3004400851</p>
                            <p class="c_i sk">taigemk@gmail.com</p>
                            <p class="c_i mail">taigemk@gmail.com</p>
                        </div>
                    </div>
                    <div class="banner fr">
                        <div class="bannerbox j-bannerImg">
                            <a href="javascript:;" style="background-image: url(images/banner/promotion/banner01.jpg);" class="j-join"></a>
                            <a href="javascript:;" style="background-image: url(images/banner/promotion/banner02.jpg);" class="j-join active"></a>
                            <a href="javascript:;" style="background-image: url(images/banner/promotion/banner03.jpg);" class="j-join"></a>
                        </div>
                        <p class="bannercontrol j-bannerPage">
                            <span class="" data-num="0"></span>
                            <span data-num="1" class="active"></span>
                            <span data-num="2" class=""></span>
                        </p>
                    </div>
                </div>
            </div>
        <!-- 关于 -->
        <aside class="about">
            <div class="content">
                <img src="images/agent/agent_about.jpg">
            </div>
        </aside>
        </main>


	<aside id="registerAgentModal" class="register agent_register" style="display: none;">
        <div class="register_content">
        <form id="form-agent">
        <div class="r_title">
        <p>申请加盟<span class="small">请务必填写真实信息</span></p>
        <span class="close j-close"  ng-controller="agentRegCtrl" ng-click="registerModal()"></span>
        </div>
        <div class="r_content">
        <div class="inputs">
        <label><span class="red">*</span>代理账号</label>
        <input type="text" name="loginname" placeholder="加盟账号(a_开头,3-15数字或字母)" maxlength="15">
        </div>
        <div class="inputs">
        <label><span class="red">*</span>密码</label>
        <input type="password" class="inpt-pwd" name="password" placeholder="密   码(6-16位数字或字母）" maxlength="16">
        <span class="j-changpwd eyes close"></span>
        </div>
        <div class="inputs">
        <label><span class="red">*</span>确认密码</label>
        <input type="password" class="inpt-pwd" name="confirmpassword" placeholder="密   码(6-16位数字或字母）" maxlength="16">
        <span class="j-changpwd eyes close"></span>
        </div>
        <div class="inputs">
        <label><span class="red">*</span>真实姓名</label>
        <input type="text" name="accountName" placeholder="真实姓名,与银行账户姓名相同" maxlength="20">
        </div>
        <div class="inputs">
        <label><span class="red">*</span>邮箱</label>
        <input type="text" name="email" placeholder="电子邮箱,方便账号找回" maxlength="50">
        </div>
        <div class="inputs">
        <label><span class="red">*</span>QQ</label>
        <input type="text" name="qq" placeholder="我们可通过QQ与您取得联系" maxlength="20">
        </div>
        <div class="inputs">
        <label><span class="red">*</span>手机号码</label>
        <input type="text" name="phone" placeholder="联系电话,加盟负责人及时联系您" maxlength="11">
        </div>
        <div class="inputs">
        <label><span class="red">&nbsp;</span>推荐码</label>
        <input type="text" name="partner" placeholder="推荐人号码,非必填" maxlength="11">
        </div>
        <div class="inputs">
        <label><span class="red">*</span>推广网址</label>
        <input type="text" name="referWebsite" placeholder="2-6个数字或字母" maxlength="6">
        <span id="domainname" class="green domainname">.taige2.com</span>
        </div>
        <div class="inputs">
        <label><span class="red">*</span>验证码</label>
        <input type="text" name="validateCode" placeholder="请输入验证码" maxlength="4">
        <img style="" src="/mobi/mobileValidateCode.php?v=1" onclick="this.src='/mobi/mobileValidateCode.php?r='+Math.random();" width="100%" class="j-code" title="点击更新">
        </div>
        
        
        
        
        
        
        <p class="r_tips r_rules">
        <label for="agentAgree">
        <input type="checkbox" checked="" name="agentAgree" id="agentAgree">
        同意并接受泰格娱乐的合作协议。
        </label>
        </p>
        </div>
        <div class="r_btns">
        <button class="btn reg">提交注册</button>
        </div>
        </form>
        </div>
        </aside>
  <script type="text/javascript">		
		$(function(){			
			$("#index").click(function(){
				$("#header").removeClass("hiddenHeader");
				$("#nav").removeClass("hiddenHeader");
			});
		});
	</script>      
</body></html>