<!-- 

不需要頁面的頭部
以及底部

 -->

<header class="header_normal" ng-controller="authCtrl">
	<a href="javascript:void(0);" data-back="" class="back_link" ng-click="goBack()">
		<span class="icon icon_arrow_back"></span>
	</a>
	<h1>个人资料</h1>
</header>

<div id="page_content" class="flex_1" ng-controller="userInfoCtrl" ng-init="getMemberInfo()">
		<div class="page_content_wrap no_padding user_profile_content">
			<div class="layout_form">
				<div class="form_field_warp">
					<div class="form_field">
						<span class="form_field_label">真实姓名</span>
						<div class="form_field_input">

							<input class="j-accountName" id="j-accountName" ng-model="userInfo.realName" ng-if="!userInfo.isSetted">
							
							<input class="j-accountName" id="j-accountName" ng-model="userInfo.realName" ng-if="userInfo.isSetted"  readonly="">
							
						</div>
					</div>
					<div class="form_field">
						<span class="form_field_label">手机号码</span>
						<div class="form_field_input">
							<input class="j-mobilenum" id="j-mobilenum" ng-model="userInfo.phoneNum" ng-if="userInfo.isValidPhone  == 0">
							<input class="j-mobilenum" id="j-mobilenum" ng-model="userInfo.phoneNum" ng-if="userInfo.isValidPhone  != 0" readonly="">
						</div>
					</div>
					<div class="form_field date_picker ">
						<span class="form_field_label">电子邮件</span>
						<div class="form_field_input">
							<input id="j-email" placeholder="电子邮件"  ng-model="userInfo.email">
						</div>
					</div>
					<div class="form_field date_picker ">
						<span class="form_field_label">Q Q</span>
						<div class="form_field_input">
							<input class="u_input j-qq" id="j-qq" placeholder="请输入QQ号码" ng-model="userInfo.qq">
						</div>
					</div>					
				</div>
			</div>
			<div class="btn_wrap">
				<input type="button" class="btn btn01 j-completeUserInfo" value="保存" ng-click="updateMemInfo()">
			</div>

			<br>
			<div id="phone-validat-div"
				style="padding-left: 15px; padding-right: 15px;" 
				ng-if="userInfo.isValidPhone  == 0 && userInfo.phoneNum != null && userInfo.phoneNum.length > 0">
				<a href="javascript:void(0);" class="btn btn01 a_validate_phone" ng-click="showSMS()">手机验证</a>
				<div id="d-reverse-sms" class="user_center_nav_content_step">
					<div
						class="layout_icon_text_button display_flex_h flex_align_center">
						<div class="icon_wrap">
							<img src="images/icons/icon_send_message.png" width="84"
								height="45">
						</div>
						<div class="flex_1">
							<p>
								请使用注册时填写的手机，发送短信“<span class="j-smsCode"></span>”到<span
									class="j-smsNum"></span>，发送成功<span class="text_red">15</span>秒后，点击验证
							</p>
						</div>
					</div>
					<div class="btn_wrap no_padding">
						<a href="javascript:void(0);" class="btn btn01 j-reverse-sms-btn">验证</a>
					</div>
				</div>

				<div id="d-sms" ng-class="{'user_center_nav_content_step':!isSms,'user_center_nav_content_step.show':isSms}">
					<div
						class="layout_icon_text_button display_flex_h flex_align_center">
						<div class="icon_wrap">
							<img src="images/icons/icon_send_message.png" width="84"
								height="45">
						</div>
						<div class="flex_1">
							<p>点击获取验证码，系统将向您的注册手机号发送一个验证码</p>
							<div class="layout_form">
								<div class=" form_field">
									<span class="form_field_label">验证码:</span>
									<div class="form_field_input">
										<input type="text" id="phonesmscode" placeholder="验证码"
											maxlength="6">
									</div>
								</div>
								<div></div>
							</div>
							<div class="btn_wrap no_padding">
								<a href="javascript:void(0);" class="btn btn04 j-requetsms" ng-click="applyPhoneQr()">获取验证码</a>
							</div>
						</div>
					</div>
					<div id="captcha-target"
						style="margin: 50px auto 30px; width: 320px;"></div>
					<div class="btn_wrap no_padding">
						<a href="javascript:void(0);" class="btn btn01 j-sms-btn"  ng-click="verifyPhone()">验证</a>
					</div>
				</div>
			</div>
		</div>		
	</div>